name: Create changelog

on:
  push:
    branches:
      - release/*
      - feature/**-changelog # Allow branches like this to make it easier to test changelog changes.

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - run: pip install gitchangelog pystache
      - run: gitchangelog
      - name: Upload Changelog as an artifact
        uses: actions/upload-artifact@master
        with:
          name: changelog
          path: CHANGELOG.rst
